body {
    background-image: url(/assets/Untitled.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size:80%;
    background-color: rgb(79, 63, 94)
}

h1 {
    text-align: center;
    color: antiquewhite;
}

.marginTopNegative{
    margin-top: -2%;
}

.marginbottomPositv{
    margin-bottom: 10%;
}